<main class="container">
  <h1 class="title">Formulário</h1>
  <p class="info">Preencha os campos abaixo:</p>
  <div class="container-forms" *ngIf="checklist == false">
    <div class="form">
      <label class="label-name" for="name">Nome</label>
      <input name="name" type="text" [(ngModel)]="name">

      <label for="CPF">CPF</label>
      <input name="CPF" type="text" [(ngModel)]="id">

      <label for="age">Idade</label>
      <input name="age" type="number" [(ngModel)]="age">
      <ul *ngIf="age <= 17 && age > 0">
        <label for="label-parents">Nome dos responsáveis</label>
        <input name="parents" type="text" [(ngModel)]="parents">
        <label for="tel-number">Telefone</label>
        <input name="tel-number" type="text" [(ngModel)]="tel">
      </ul>

      <label for="graduation" type="text">Escolaridade</label>
      <select name="graduation" [(ngModel)]="graduation">
        <option value="Ensino Fundamental Completo">Ensino Fundamental Completo</option>
        <option value="Ensino Médio Completo">Ensino Médio Completo</option>
        <option value="Ensino Superior Completo">Ensino Superior Completo</option>
        <option value="Especialização">Especialização</option>
      </select>
      <div *ngIf="graduation == 'Ensino Superior Completo'">
        <label for="year-graduation">Ano da formação</label><br>
        <input name="year-graduation" type="date" [(ngModel)]="yeargradu">
      </div>

      <div *ngIf="graduation == 'Especialização'">
        <label for="year-especialization">Ano da formação</label><br>
        <input name="year-especialization" type="date" [(ngModel)]="yearespc"><br>
        <label for="institution">Instituição de Ensino</label>
        <input name="institution" type="text" [(ngModel)]="institution">
      </div>

      <label for="marriage" type="text">Estado Civil</label>
      <select [(ngModel)]="marriage">
        <option>Solteiro</option>
        <option>Casado</option>
        <option>Viúvo(a)</option>
        <option>Divorciado</option>
      </select>

      <div *ngIf="marriage == 'Casado'">
        <label for="marriage-name">Informe o nome do cônjuge</label>
        <input name="marriage-name" type="text" [(ngModel)]="partner">
      </div>

      <button class="btn-submit" type="submit" (click)="check()">Enviar</button>
    </div>
  </div>

  <div class="container-info" *ngIf="checklist == true">
    <div class="Informations">
      <label>Nome: {{name}}</label>
      <br>
      <label>CPF: {{id}}</label>
      <br>
      <label>Idade: {{age}}</label>
      <div *ngIf="age < 17">
        <label>Nome do responsáveis: {{parents}}</label>
        <br>
        <label>Telefone dos responsáveis: {{tel}}</label>
      </div>
      <br>

      <label>Escolaridade: {{graduation}}</label>
      <br>
      <div *ngIf="graduation == 'Especialização'">
        <label>Ano de formação: {{yearespc}}</label>
        <br>
        <label>Instituição: {{institution}}</label>
      </div>

      <div *ngIf="graduation == 'Ensino Superior Completo'">
        <label>Ano de formação: {{yeargradu}}</label>
      </div>

      <label>Estado Civil: {{marriage}}</label>
      <div *ngIf="marriage == 'Casado'">
        <label>Cônjuge: {{partner}}</label>
      </div>
    </div>

  </div>
</main>